@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic);
body{
	background:#3B4D61 url(../img/bg.jpg) repeat 0 0;
	font-family: 'Cuprum', sans-serif;
}
h1{
	 text-shadow: 0px 2px 2px #74818F;
	 color: #1F2F3F;
}

#main{
	width: 610px;
	margin: 0 auto;
	overflow: hidden;
}

#links{
	width:200px;
	overflow: hidden;
	float: left;
}
#links ul > li{
	margin-bottom: 10px;
	list-style: none;
	width:100px;
}

a{
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#links a{	
	background: #1F2F3F;
	opacity: 0.6;	
	border-radius: 1em;
	padding: 3px 10px 3px 10px;	
}

#links a:hover{
	opacity: 1;
}

#external-links{
	overflow: hidden;
	float: left;
	width: 600px;
}
#external-links strong{
	margin-left:-40px;
	color: green;
}
